{{define "about"}}
<!DOCTYPE html>
<html>
    <head>
      <link href="../public/static/fonts/AntipastoPro" rel="stylesheet" />
      <link href="../public/static/css/main.css" rel="stylesheet" />
        <title>О нас</title>
    </head>
    <body>
        <div class="page">
            <div class="header">
              <div class="headerrectangle"></div>
              <div class="headerlogo"></div>
              <a class="mainlink" href="/">Главная</a>
              <a class="courseslink" href="/courses">Курсы</a>
              <a class="usefulslink" href="/links">Полезные ресурсы</a>
              <a class="aboutlink" href="/about">О сайте</a>
              <a class="resourcelink" href="/tabs">Ноты/табы</a>
              <a class="mainloginbutton" href="/logout">
                  <div class="lbrct"></div>
                  <a class="lbtxt" href="/logout">Выйти</a>
              </a>
            </div>

            <div class="about_box">
                <div class="about_text_box">
                    <span class="about_title">Фа.Соль</span>
                    <span class="about_decription">Фа.Соль - это интернет-ресурс, на котором вы можете без труда найти качественную информацию по обучению игре на музыкальных инструментах. </span>
                </div>
                <div class="facesbox">
                    <div class="photoruda"></div>
                    <div class="circle"></div>
                    <div class="photoacha"></div>
                    <div class="circle" style="top: 120px; left: 0px;"></div>
                    <div class="photoi314"></div>
                    <div class="circle" style="top: 120px; left: 240px;"></div>
                    <div class="photogavr"></div>
                    <div class="circle" style="top: 240px; left: 120px;"></div>
                </div>
            </div>
            <div class="pics_line" style="width: 642.05px;height: 0px;left: 645.97px;top: 756px;transform: rotate(0deg);"></div>
            <span class="statstitle">Статистика нашего сайта</span>
            <div class="statsbox">
            <div class="cnumicon"></div>
                <span class="statsnum">6</span>
                <span class="statsdescr">курсов разного уровня. Но мы планируем увеличить количество инструментов.</span>
                <div class="snumicon"></div>
                 <span class="statsnum" style="top: 8px; left: 383px; width: 145px;">5</span>
                <span class="statsdescr" style="top: 60px; left: 336px;">учеников получили профессиональные навыки игры на инструментах.</span>
                <div class="nnumicon"></div>
                <span class="statsnum" style="top: 8px; left: 719px;">2</span>
                <span class="statsdescr" style="top: 60px; left: 672px;">курса разного уровня. Но мы планируем увеличить количество инструментов.</span>
            </div>
            <div class="pics_line" style="width: 960px;height: 0px;left: 487px;top: 1023px;transform: rotate(0deg);"></div>
            <span class="aboutus">Немного о нас</span>
            <div class="aboutuspic"></div>
            <span class="contacttext">Связь с нами</span>
            <span class="contacttext" style="top: 2281px;left: 861px;">Контакты</span>
            <a class="yticon" href="https://www.youtube.com/user/TheMaxcrest" target="_blank"></a>
            <a class="insticon" href="https://www.youtube.com/user/TheMaxcrest" target="_blank"></a>
            <a class="vkicon" href="https://www.youtube.com/user/TheMaxcrest" target="_blank"></a>
       </div>
<div class="pageend" style="top: 2600px;">
    <div class="perct"></div>
    <div class="pelogo"></div>
    <span class="pesign">© Фа.Соль, 2022</span>
    <a class="pegh" href="https://github.com/RamuchiRam/fasole-alpha" target="_blank">Мы на GitHub</a>
    <a class="peabout" href="/about">О нас</a>
</div>
</body>
</html>
{{end}}
