{{define "kukushka"}}
<!DOCTYPE html>
<html>
    <head>
        <link href="../public/static/fonts/AntipastoPro" rel="stylesheet" />
        <link href="../public/static/css/main.css" rel="stylesheet" />
        <title>КИНО - Кукушка</title>
    </head>
    <body>
        <div class="page">
            <div class="header">
                <div class="headerrectangle"></div>
                <div class="headerlogo"></div>
                <a class="mainlink" href="/">Главная</a>
                <a class="courseslink" href="/courses">Курсы</a>
                <a class="usefulslink" href="/links">Полезные ресурсы</a>
                <a class="aboutlink" href="/about">О сайте</a>
                <a class="resourcelink" href="/tabs">Ноты/табы</a>
                <a class="mainloginbutton" href="/logout">
                      <div class="lbrct"></div>
                      <a class="lbtxt" href="/logout">Выйти</a>
                  </a>
              </div>
            <span class="tabstitle" style="width: 620px;left: 643px;">КИНО - Кукушка</span>
            <div class="tabfilebox">
            <iframe src="../public/static/files/animals_-_maroon_5.pdf" width="1000" height="1500"></iframe>
            </div>
            <span class="tabsvideo">Видео-разбор</span>
            <div class="tabvideobox">
                <iframe width="1000" height="562" src="https://www.youtube.com/embed/Mn0wir4wNgc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            </div>
            <div class="pageend">
                <div class="perct"></div>
                <div class="pelogo"></div>
                <span class="pesign">© Фа.Соль, 2022</span>
                <a class="pegh" href="https://github.com/RamuchiRam/fasole-alpha" target="_blank">Мы на GitHub</a>
                <a class="peabout" href="/about">О нас</a>
            </div>
        </div>
    </body>
</html>
{{end}}
