{{define "courses"}}
<!DOCTYPE html>
<html>
    <head>
        <link href="../public/static/fonts/AntipastoPro" rel="stylesheet" />
        <link href="../public/static/css/main.css" rel="stylesheet" />
        <title>Курсы</title>
    </head>
    <body>
        <div class="page">
          <div class="header">
            <div class="headerrectangle"></div>
            <div class="headerlogo"></div>
            <a class="mainlink" href="/">Главная</a>
            <a class="courseslink" href="/courses">Курсы</a>
            <a class="usefulslink" href="/links">Полезные ресурсы</a>
            <a class="aboutlink" href="/about">О сайте</a>
            <a class="resourcelink" href="/tabs">Ноты/табы</a>
            <a class="mainloginbutton" href="/logout">
                  <div class="lbrct"></div>
                  <a class="lbtxt" href="/logout">Выйти</a>
              </a>
          </div>
            <div class="allcoursesbox">
            <span class="allcoursestxt">Все курсы</span>
                <div class="egcoursebox">
                    <div class="egcourseboxrct"></div>
                    <div class="egcourseboxicon"></div>
                    <span class="egcourseboxtitle">Электрогитара</span>
                    <span class="egcourseboxlevel">Основы игры</span>
                    <span class="egcourseboxdur">Курс обучения</span>
                    <span class="egcourseboxtime">Курс в разработке...</span>
                </div>
                        <div class="gcoursebox">
                            <div class="gcourseboxrct"></div>
                            <div class="gcourseboxicon"></div>
                            <span class="gcourseboxdur">Курс обучения</span>
                            <span class="gcourseboxtime">Курс в разработке...</span>
                            <span class="gcourseboxlevel">Основы игры</span>
                            <span class="gcourseboxtitle">Гитара</span>
                        </div>
                        <a class="keyscoursebox" href="/keyscourse">
                            <div class="keyscourserct"></div>
                            <div class="keyscourseicon"></div>
                            <span class="keyscoursedur">Курс обучения</span>
                            <span class="keyscoursetime">6 недель</span>
                            <span class="keyscourselevel">Основы игры</span>
                            <span class="keyscoursetitle">Клавишные</span>
                        </a>
                        <div class="egprocoursebox">
                            <div class="egprocourserct"></div>
                            <div class="egprocourseicon"></div>
                            <span class="egprocoursetitle">Электрогитара</span>
                            <span class="egprocourselevel">Продвинутый уровень</span>
                            <span class="egprocoursedur">Курс обучения</span>
                            <span class="egprocoursetime">Курс в разработке...</span>
                        </div>
                        <div class="gprocoursebox">
                            <div class="gprocourserct"></div>
                            <div class="gprocourseicon"></div>
                            <span class="gprocoursedur">Курс обучения</span>
                            <span class="gprocoursetime">Курс в разработке...</span>
                            <span class="gprocourselevel">Продвинутый уровень</span>
                            <span class="gprocoursetitle">Гитара</span>
                        </div>
                        <div class="keysprocoursebox">
                            <div class="keysprocourserct"></div>
                            <div class="keysprocourseicon"></div>
                            <span class="keysprocoursedur">Курс обучения</span>
                            <span class="keysprocoursetime">Курс в разработке...</span>
                            <span class="keysprocoursetitle">Клавишные</span>
                            <span class="keysprocourselevel">Продвинутый уровень</span>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="footerrct"></div>
                        <div class="footerlogo"></div>
                        <span class="copyright">© Фа.Соль, 2022</span>
                        <a class="github" href="https://github.com/RamuchiRam/fasole-alpha" target="_blank">Мы на GitHub</a>
                        <a class="about" href="/about">О нас</a>
                    </div>
                </div>
        </body>
</html>
{{end}}
