{{define "keyscourse"}}
<!DOCTYPE html>
<html>
    <head>
      <link href="../public/static/fonts/AntipastoPro" rel="stylesheet" />
      <link href="../public/static/css/main.css" rel="stylesheet" />
        <title>Клавишные. Основы</title>
    </head>
            <body>
                <div class="page" style="height: 778px;">
                    <div class="header">
                      <div class="headerrectangle"></div>
                      <div class="headerlogo"></div>
                      <a class="mainlink" href="/">Главная</a>
                      <a class="courseslink" href="/courses">Курсы</a>
                      <a class="usefulslink" href="/links">Полезные ресурсы</a>
                      <a class="aboutlink" href="/about">О сайте</a>
                      <a class="resourcelink" href="/tabs">Ноты/табы</a>
                      <a class="mainloginbutton" href="/logout">
                          <div class="lbrct"></div>
                          <a class="lbtxt" href="/logout">Выйти</a>
                      </a>
                    </div>
                    <span class="kbcoursetitle">Клавишные Основы игры</span>
                    <div class="kbcoursebox">
                        <div class="keyscoursebox" style="left: 0px;top: 0px;">
                            <div class="keyscourserct"></div>
                            <div class="keyscourseicon"></div>
                            <span class="keyscoursedur">Курс обучения</span>
                            <span class="keyscoursetime">6 недель</span>
                            <span class="keyscourselevel">Основы игры</span>
                            <span class="keyscoursetitle">Клавишные</span>
                        </div>
                        <div class="subscribe_button_rct"></div>
                        <span class="subscribe_button_txt">Подписаться</span>
                        <span class="course_description_h1">Данный курс - это попытка привить Вам любовь к занятиям музыкой. Объяснить предназначение музыки. Показать её свободу.</span>
                        <span class="course_description_h3">Курс включает: 9 часов видео, 17 практических заданий.</span>
                        <span class="course_description_h2">На онлайн-курсах фортепиано вы научитесь играть популярные и свои любимые мелодии по нотам, читать нотную грамоту, подбирать музыку на слух. Вы поставите руки, отработаете технику игры, разовьете музыкальный слух и чувство ритма.
Обучатся игре могут как дети, так и взрослые независимо от уровня владения инструментом.</span>
                    </div>

                    <div class="goals_box">
                        <div class="goals_box_pic"></div>
                    </div>
                    <div class="pics_line"></div>
                    <div class="req_box">
                        <div class="req_box_pic"></div>
                    </div>
                    <div class="footer">
                        <div class="footerrct"></div>
                        <div class="footerlogo"></div>
                        <span class="copyright">© Фа.Соль, 2022</span>
                        <a class="github" href="https://github.com/RamuchiRam/fasole-alpha" target="_blank">Мы на GitHub</a>
                        <a class="about" href="/about">О нас</a>
                    </div>
                 </div>
            </body>
</html>
{{end}}
